h1(class="headerSiteName ttl--1")
  a(href="index.html") #{siteName}
  
ul(class="headerMenu")
  li
    if key == "illustrations"
      a(href=pages.illustrations.url class="headerMenu__here") illustrations
    else
      a(href=pages.illustrations.url) illustrations
  li
    if key == "websites"
      a(href=pages.websites.url class="headerMenu__here") websites
    else
      a(href=pages.websites.url) websites
  li
    if key == "photos"
      a(href=pages.photos.url class="headerMenu__here") photos
    else
      a(href=pages.photos.url) photos
  li
    if key == "riddles"
      a(href=pages.riddles.url class="headerMenu__here") riddles
    else
      a(href=pages.riddles.url) riddles
