h1(class="headerSiteName ttl--1")
  a(href="index.html") #{siteName}
  
ul(class="headerMenu")
  li
    a(href=pages.websites.url) websites/apps
  li
    a(href=pages.drawings.url) drawings
  li
    a(href=pages.photos.url) photos
  li
    a(href=pages.riddles.url) riddles
