h1(class="headerSiteName ttl--1")
  a(href="index.html") #{siteName}

ul(class="headerMenu")
  li
    if key == "works"
      a(href=pages.works.url class="headerMenu__here") #{pages.works.name}
    else
      a(href=pages.works.url) #{pages.works.name}
  li
    if key == "pics"
      a(href=pages.pics.url class="headerMenu__here") #{pages.pics.name}
    else
      a(href=pages.pics.url) #{pages.pics.name}
  li
    if key == "nazo"
      a(href=pages.nazo.url class="headerMenu__here") #{pages.nazo.name}
    else
      a(href=pages.nazo.url) #{pages.nazo.name}
  li.headerMenu__emoji
    if key == "eye"
      a(href=pages.eye.url class="headerMenu__here") #{pages.eye.name}
    else
      a(href=pages.eye.url) #{pages.eye.name}
