-
  let headerSiteNameClass = "headerSiteName";
  let headerMenuClasses = {
    works: {
      liClass: "",
      aClass: ""
    },
    pics: {
      liClass: "",
      aClass: ""
    },
    nazo: {
      liClass: "",
      aClass: ""
    },
    eye: {
      liClass: "headerMenu__emoji",
      aClass: ""
    }
  };
  if(key == "top") {
    headerSiteNameClass = "headerSiteName headerSiteNameHere";
  }
  else {
    headerMenuClasses[key].aClass = "headerMenu__here";
  }

h1(class=headerSiteNameClass)
  a(href="index.html") #{siteName}

ul(class="headerMenu")
  each v, k in headerMenuClasses
    li(class=v.liClass)
      a(href=pages[k].url class=v.aClass) #{pages[k].name}