extends _layout

block vars
  include _config
  - var key = "eye"
  - var page = pages[key]
  - var hiragana = "あ"
  - for (var i = 0; i < 100000; i++) { hiragana += "あ"; }

block contents
  p.eyeBackground(class="luxy-el") #{hiragana}
  div.eyeAccessCounter(class="luxy-el" data-speed-y="10")
    p.eyeAccessCounter__txt あなたは、<br>
      img(src="https://www.f-counter.net/j/61/1677680991/" alt="アクセスカウンター")
      | 人目<br>の訪問者ですよ。

  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="25" href=imgPath+"/"+key+"/chocolates.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/chocolates.jpg" alt="チョコレート")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="-25" href=imgPath+"/"+key+"/sunset.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/sunset.jpg" alt="『リリイシュシュのすべて』より")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="15" href=imgPath+"/"+key+"/sketch.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/sketch.jpg" alt="らくがき")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="-10" href=imgPath+"/"+key+"/heaven.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/heaven.jpg" alt="ヘヴン")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="8" href=imgPath+"/"+key+"/heart.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/heart.jpg" alt="ハート")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="-5" href=imgPath+"/"+key+"/plants.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/plants.jpg" alt="植物")
  //- a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="5" href=imgPath+"/"+key+"/okadanao.jpg" data-lightbox="group")
  //-   img(src=imgPath+"/"+key+"/okadanao.jpg" alt="サークル")
  //- a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="-5" href=imgPath+"/"+key+"/wonderland.jpg" data-lightbox="group")
  //-   img(src=imgPath+"/"+key+"/wonderland.jpg" alt="ワンダーランド")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="5" href=imgPath+"/"+key+"/darkness.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/darkness.jpg" alt="闇")
  a.eyeIllust(class="luxy-el" data-horizontal="1" data-speed-x="-5" href=imgPath+"/"+key+"/lake.jpg" data-lightbox="group")
    img(src=imgPath+"/"+key+"/lake.jpg" alt="湖")

block script
  script(src=jsPath+"/luxy.min.js")
  script.
    luxy.init();
