extends _layout

block vars
  include _config
  - var key = "illustrations"
  - var page = pages[key]

block contents
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__drawing progressive")
      a(href=imgPath+"/"+key+"/wonderland.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/wonderland.jpg" src=imgPath+"/"+key+"/wonderland-dummy.jpg")
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__drawing progressive")
      a(href=imgPath+"/"+key+"/sketch.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/sketch.jpg" src=imgPath+"/"+key+"/sketch-dummy.jpg")
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__drawing progressive")
      a(href=imgPath+"/"+key+"/chocolates.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/chocolates.jpg" src=imgPath+"/"+key+"/chocolates-dummy.jpg")
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__drawing progressive")
      a(href=imgPath+"/"+key+"/plants.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/plants.jpg" src=imgPath+"/"+key+"/plants-dummy.jpg")
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__drawing progressive")
      a(href=imgPath+"/"+key+"/okadanao.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/okadanao.jpg" src=imgPath+"/"+key+"/okadanao-dummy.jpg")
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__drawing progressive")
      a(href=imgPath+"/"+key+"/heart.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/heart.jpg" src=imgPath+"/"+key+"/heart-dummy.jpg")
