extends _layout

block vars
  include _config
  - var key = "linebot"
  - var page = pages[key]

block contents
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://line.me/R/ti/p/@227wfohv")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/tenuki.png" src=imgPath+"/"+key+"/tenuki-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://line.me/R/ti/p/@227wfohv") LINE謎「てぬき」
      details(class=key+"__main__block__desc__details")
        summary 詳細        
        p(class=key+"__main__block__desc__stc") 個人で作ったLINE謎です。LINE Official Account Manager のみでつくりました。
      
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://line.me/R/ti/p/@310aclyf")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/marunazo.jpg" src=imgPath+"/"+key+"/marunazo-dummy.jpg")
    section
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://line.me/R/ti/p/@310aclyf") LINE謎「まるなぞ」
      details(class=key+"__main__block__desc__details")
        summary 詳細        
        p(class=key+"__main__block__desc__stc") 謎解き制作団体 <a href="https://twitter.com/tryangle_nazo">TryAngle</a> のLINE謎です。プログラミング全般と謎1問を担当しました。
          
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://line.me/R/ti/p/@765jdcpa")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/kotobasagashi.png" src=imgPath+"/"+key+"/kotobasagashi-dummy.png")
    section
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://line.me/R/ti/p/@765jdcpa") 単語検索「ことばさがし」
      details(class=key+"__main__block__desc__details")
        summary 詳細
        p(class=key+"__main__block__desc__stc") Google Apps Script と LINE Messaging API を用いて制作しました。<a href="https://probabilityhill.pythonanywhere.com/">Web版</a>よりも使いやすくなりました。
 
