extends _layout

block vars
  include _config
  - var key = "linebot"
  - var page = pages[key]

block contents
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://line.me/R/ti/p/@765jdcpa" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/kotobasagashi.png" src=imgPath+"/"+key+"/kotobasagashi-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://line.me/R/ti/p/@765jdcpa" target="_blank" rel="noopener noreferrer") ことばさがし
      a(href="https://github.com/probabilityhill/kotobasagashi-line" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/github.svg")
      a(href="https://qiita.com/probabilityhill/items/d3ae1c862bad592cd28c" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/qiita.png")
      p(class=key+"__main__block__desc__outline") 単語検索ができる LINE Bot です。
      details(class=key+"__main__block__desc__details")
        summary read more
        p(class=key+"__main__block__desc__details__stc") Google Apps Script と LINE Messaging API を用いて制作しました。<a href="https://probabilityhill.pythonanywhere.com/">Web版</a> よりも使いやすくなりました。<a href="https://qiita.com/probabilityhill/items/d3ae1c862bad592cd28c">Qiita</a> で詳しく説明しています。

  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://line.me/R/ti/p/@227wfohv" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/tenuki.png" src=imgPath+"/"+key+"/tenuki-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://line.me/R/ti/p/@227wfohv" target="_blank" rel="noopener noreferrer") てぬき
      p(class=key+"__main__block__desc__outline") 個人で作ったLINE謎です。
      details(class=key+"__main__block__desc__details")
        summary read more
        p(class=key+"__main__block__desc__details__stc") LINE Official Account Manager のみでつくりました。
      
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://line.me/R/ti/p/@310aclyf" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/marunazo.jpg" src=imgPath+"/"+key+"/marunazo-dummy.jpg")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://line.me/R/ti/p/@310aclyf" target="_blank" rel="noopener noreferrer") まるなぞ
      a(href="https://github.com/probabilityhill/marunazo" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/github.svg")
      p(class=key+"__main__block__desc__outline") 謎解き制作団体 <a href="https://twitter.com/tryangle_nazo">TryAngle</a> のLINE謎です。プログラミング全般と謎1問を担当しました。
      details(class=key+"__main__block__desc__details")
        summary read more (coming soon...)
        p(class=key+"__main__block__desc__details__stc") 
          
 
