extends _layout

block vars
  include _config
  - var key = "pics"
  - var page = pages[key]

block contents
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/tree.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/tree.JPG" src=imgPath+"/"+key+"/tree-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/lake.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/lake.JPG" src=imgPath+"/"+key+"/lake-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/mountain.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/mountain.JPG" src=imgPath+"/"+key+"/mountain-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/yellowflower.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/yellowflower.JPG" src=imgPath+"/"+key+"/yellowflower-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/flog.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/flog.JPG" src=imgPath+"/"+key+"/flog-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/smallbird.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/smallbird.JPG" src=imgPath+"/"+key+"/smallbird-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/owl.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/owl.JPG" src=imgPath+"/"+key+"/owl-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/redivy.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/redivy.JPG" src=imgPath+"/"+key+"/redivy-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/man.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/man.JPG" src=imgPath+"/"+key+"/man-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/lantern.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/lantern.JPG" src=imgPath+"/"+key+"/lantern-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/buddha.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/buddha.JPG" src=imgPath+"/"+key+"/buddha-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/moss.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/moss.JPG" src=imgPath+"/"+key+"/moss-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/stem.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/stem.JPG" src=imgPath+"/"+key+"/stem-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/sunset-dark.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/sunset-dark.JPG" src=imgPath+"/"+key+"/sunset-dark-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/silhouette-sunset.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/silhouette-sunset.JPG" src=imgPath+"/"+key+"/silhouette-sunset-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/sea-sunset.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/sea-sunset.JPG" src=imgPath+"/"+key+"/sea-sunset-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/bird.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/bird.JPG" src=imgPath+"/"+key+"/bird-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/hydrangea.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/hydrangea.JPG" src=imgPath+"/"+key+"/hydrangea-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/silhouette.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/silhouette.JPG" src=imgPath+"/"+key+"/silhouette-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/omikuji.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/omikuji.jpg" src=imgPath+"/"+key+"/omikuji-dummy.jpg")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/black-bean.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/black-bean.JPG" src=imgPath+"/"+key+"/black-bean-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/salmon-roe.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/salmon-roe.JPG" src=imgPath+"/"+key+"/salmon-roe-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/salmon.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/salmon.JPG" src=imgPath+"/"+key+"/salmon-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/korea-town.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/korea-town.JPG" src=imgPath+"/"+key+"/korea-town-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/bubbles.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/bubbles.JPG" src=imgPath+"/"+key+"/bubbles-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/girl.JPG", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/girl.JPG" src=imgPath+"/"+key+"/girl-dummy.JPG")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/australia.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/australia.jpg" src=imgPath+"/"+key+"/australia-dummy.jpg")
    div(class=key+"__main__block__photos progressive")
      a(href=imgPath+"/"+key+"/graffiti.jpg", data-lightbox="group")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/graffiti.jpg" src=imgPath+"/"+key+"/graffiti-dummy.jpg")
