extends _layout

block vars
  include _config
  - var key = "riddles"
  - var page = pages[key]

block contents
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__riddles progressive")
      img(src=imgPath+"/common/coming-soon.png" alt="coming soon")  
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__riddles progressive")
      img(src=imgPath+"/common/coming-soon.png" alt="coming soon")  
