extends _layout

block vars
  include _config
  - var key = "works"
  - var page = pages[key]

block contents
  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://okada-dental.org/" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/odc.png" src=imgPath+"/"+key+"/odc-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://okada-dental.org/" target="_blank" rel="noopener noreferrer") おかだ歯科クリニック
      a(href="https://github.com/probabilityhill/okada-dental-clinic" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/github.svg")
      p(class=key+"__main__block__desc__outline") 歯科クリニックのホームページを一から作り直してほしいという依頼を受けて制作しました。現在もメンテナンスを担当しています。
      p(class=key+"__main__block__desc__outline") <span>レスポンシブ対応</span> <span>ドメイン移管</span> <span>サーバー移管</span> <span>seo対策</span> <span>meo対策</span> <span>html</span> <span>css</span> <span>javascript</span> <span>jquery</span> <span>pug</span> <span>stylus</span>
      details(class=key+"__main__block__desc__details")
        summary read more
        h3(class=key+"__main__block__desc__details__ttl")  ▎モバイルユーザビリティ
        p(class=key+"__main__block__desc__details__stc") もとのHPはSP用の情報量がPC用よりも少なくURLも別々だったので統一し、レスポンシブ対応を行いました。また、<a href="https://search.google.com/search-console/about">Google Search Console</a> でモバイルユーザビリティに複数のエラーが出ていたので、これらを解決しました。
        h3(class=key+"__main__block__desc__details__ttl")  ▎Pugとstylusの学習
        p(class=key+"__main__block__desc__details__stc") 直接HTMLを書いていて効率が悪いと感じた作業がいくつかあったため、途中から <a href="https://pugjs.org/api/getting-started.html">Pug</a> を使い始めました。記述量が減ったり、ファイルの分割管理が可能になったりと様々なメリットがあったため、多少の学習コストはかかりましたが早い段階で導入してよかったと思います。同時に <a href="https://stylus-lang.com/">stylus</a> も使い始めました。
        h3(class=key+"__main__block__desc__details__ttl")  ▎jQueryとプラグイン
        p(class=key+"__main__block__desc__details__stc") ナビゲーションメニューやカルーセルの実装には <a href="https://jquery.com/">jQuery</a> を用いました。JavaScriptやjQueryについては少し勉強したことがあったので、この機にアウトプットできてよかったです。カルーセルに関しては、jQueryプラグインの <a href="https://kenwheeler.github.io/slick/">slick</a> を用いました。
        h3(class=key+"__main__block__desc__details__ttl")  ▎ドメイン移管とサーバー移管
        p(class=key+"__main__block__desc__details__stc") もともと契約していた会社から他社へのドメインとサーバーの移管をすることになりました。特殊な状況かつ初めての移管作業ということもあり手続きに2週間ほどかかり、HP制作よりも大変でした。
        h3(class=key+"__main__block__desc__details__ttl")  ▎SEO対策とMEO対策
        p(class=key+"__main__block__desc__details__stc") 作ったHPが検索結果の上位にくるようにSEO対策を行いました。「地名＋業種」で検索する人が多いためサイト名やページ内に地名を入れたり、ユーザーフレンドリーなデザインを心掛けたりしました。もともとは検索結果の2～3ページ目に載っていましたが、現在は1ページ目に載っているため、対策の効果があったと思われます。また、<a href="https://www.google.co.jp/maps/">Google Maps</a> での順位を上げるために、<a href="https://www.google.com/intl/jp/business/">Google Business Profile</a> を充実させました。マップの検索結果の方がHPより上位に来るためMEO対策もかなり重要であると思いますが、順位を上げるのはなかなか難しいです。

  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://probabilityhill.pythonanywhere.com/" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/kotobasagashi.png" src=imgPath+"/"+key+"/kotobasagashi-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://probabilityhill.pythonanywhere.com/" target="_blank" rel="noopener noreferrer") ことばさがし
      a(href="https://github.com/probabilityhill/kotobasagashi" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/github.svg")
      p(class=key+"__main__block__desc__outline") 正規表現を用いた単語検索ができるWebアプリケーションです。謎解き制作における単語探しの効率化を図ろうと思い制作しました。
      p(class=key+"__main__block__desc__outline") <span>単語検索</span> <span>正規表現</span> <span>python</span> <span>flask</span> <span>html</span> <span>css</span> <span>pythonanywhere</span>
      details(class=key+"__main__block__desc__details")
        summary read more
        h3(class=key+"__main__block__desc__details__ttl")  ▎Flask
        p(class=key+"__main__block__desc__details__stc") Python用のWebアプリケーションフレームワークである <a href="https://palletsprojects.com/p/flask/">Flask</a> を用いました。動的なWebサイトの制作は初めてでしたが使いやすかったです。
        h3(class=key+"__main__block__desc__details__ttl")  ▎データ集め
        p(class=key+"__main__block__desc__details__stc") データは <a href="https://ja.wiktionary.org/wiki/Wiktionary:%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">Wiktionary</a> と <a href="http://pddlib.v.wol.ne.jp/japanese/frame.htm">百科辞書</a> の見出し語から集めました。

  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://words-that-describe-me.herokuapp.com/" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/words-that-describe-me.png" src=imgPath+"/"+key+"/words-that-describe-me-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://words-that-describe-me.herokuapp.com/" target="_blank" rel="noopener noreferrer") 私を構成する100の要素
      a(href="https://github.com/probabilityhill/words-that-describe-me" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/github.svg")
      p(class=key+"__main__block__desc__outline") 一枚の画像に自分を構成する要素をまとめられるWebアプリケーションです。
      p(class=key+"__main__block__desc__outline") <span>wordclowd</span> <span>python</span> <span>flask</span> <span>html</span> <span>css</span> <span>heroku</span>
      details(class=key+"__main__block__desc__details")
        summary read more
        p(class=key+"__main__block__desc__details__stc") <a href="https://github.com/amueller/word_cloud">WordCloud</a> を使用しています。

  div(id="app" class=key+"__main__block")
    div(class=key+"__main__block__ss progressive")
      a(href="https://nazonosono.com/" target="_blank" rel="noopener noreferrer")
        img(class="preview lazy" data-src=imgPath+"/"+key+"/nazonosono.png" src=imgPath+"/"+key+"/nazonosono-dummy.png")
    section(class=key+"__main__block__desc")
      h2(class=key+"__main__block__desc__siteName")
        a(href="https://nazonosono.com/" target="_blank" rel="noopener noreferrer") 上方謎の園
      a(href="https://github.com/tomato3223/nazonosono" target="_blank" rel="noopener noreferrer")
        img(src=imgPath+"/common/github.svg")
      p(class=key+"__main__block__desc__outline") 制作指揮、デザイン担当、コーディング担当（私）の3人で制作しました。
      p(class=key+"__main__block__desc__outline") <span>レスポンシブ対応</span> <span>seo対策</span> <span>html</span> <span>css</span> <span>javascript</span> <span>jquery</span> <span>pug</span> <span>stylus</span>
      details(class=key+"__main__block__desc__details")
        summary read more (coming soon...)
        p(class=key+"__main__block__desc__details__stc")
